name: 04 - Using Action

on: 
  #push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
        run: 
            working-directory: 04-using-actions/react-app
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install Dependencies
        #run: |
        #    pwd /home/runner/work/gh-actions-course/gh-actions-course
        #    cd 04-using-actions/react-app
        #    pwd
        #    npm ci
        run: npm ci
      - name: Run Unit Tests
        run: "npm run test"